section{
    background-color: transparent;
}
.aboutus{
 width: 600px;
 height: 350px;
 background-color: gray;
 margin-left: 350px;

}
#closs{
    position: absolute;
    left: 930px;
    top: 175px;
    color: black;
    text-shadow: 2px 2px 2px red;
}
.swo{
    width: 30%;
    height: 60px;
    background-color: yellow;
    margin: 20px;
   margin-left: 440px;
    font-size: 40px;
    display: none;
    text-align: center;
    border-radius: 20px;
  
}
.abotc{
    text-decoration: none;
    color: black;
    font-weight: bold;
}